
.simple-console {
	display: flex;
	flex: 1;
	flex-direction: column;
	font-family: sans-serif;
}

.simple-console-output {
	overflow: auto;
}

.simple-console-output,
.simple-console-input-wrapper {
	flex: 0;
	flex-basis: auto;
}
.simple-console-input-wrapper {
	display: flex;
	flex-shrink: 0;
}
.simple-console-input {
	flex: 1;
	font-size: inherit;
	height: 1em;
	color: inherit;
	background: transparent;
	border: 0;
	box-shadow: 0 1px 0 transparent;
}
.simple-console-input:focus {
	outline: 0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.simple-console-input-wrapper button {
	margin-left: 0.2rem;
	background: transparent;
	color: inherit;
	border: 0;
	padding: 0;
	font-size: 1em;
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.simple-console-input-wrapper button svg {
	width: 1em;
	height: 1em;
	pointer-events: none;
}
.simple-console-input-wrapper button {
	outline: 0;
}
.simple-console-input-wrapper button:hover,
.simple-console-input-wrapper button:focus {
	color: #4078c0;
}
.dark .simple-console-input-wrapper button:hover,
.dark .simple-console-input-wrapper button:focus {
	color: #007CFF;
}
.simple-console-input-wrapper button:active {
	opacity: 0.8;
}
.simple-console-input-wrapper,
.entry {
	padding: 0.25rem 0.5rem;
	padding-left: 1rem; /* = A */
	position: relative;
}
.input-chevron {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1rem; /* = A */
	display: flex;
	align-items: center;
	justify-content: center;
}
.entry.input {
	color: gray;
}
.error {
	color: #A00;
	background: #FFF5F5;
}

.light {
	background: white;
	color: black;
}
.dark {
	background: black;
	color: white;
}
.dark .error {
	color: #A00;
	background: rgba(255, 0, 0, 0.15);
}
.dark .simple-console-input:focus {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.dark ::-webkit-input-placeholder {
	color: #555;
}

.dark :-moz-placeholder { /* Firefox 18- */
	color: #555;
}

.dark ::-moz-placeholder { /* Firefox 19+ */
	color: #555;
}

.dark :-ms-input-placeholder {
	color: #555;
}
